{% extends "layout.jinja2" %}
{% block body %}
    <!-- MAIN CONTENT -->
    <section class="main">
      <div id="background">
        <div class="wrap">
          <div class="body">
            <ol class="pagination">
              <li><a href="#first page" class="active">1</li></a>
              <li><a href="#next page">2</li></a>
              <li>..</li>
              <li><a href="#last page">3</li></a>
            </ol>
            <div class="button"><a href="/journal/new-entry">New entry</a></div>
              <div class="entries">
                <a href="/journal/1"><h3>Example entry</h3></a>
                <hr>
                <h5>The date and such goes here</h5>
                <p>Perhaps the greatest faculty our minds possess is the ability to cope with pain. Classic thinking teaches us of the four doors of the mind, which everyone moves through according to their need.

                First is the door of sleep. Sleep offers us a retreat from the world and all its pain. Sleep marks passing time, giving us distance from the things that have hurt us. When a person is wounded they will often fall unconscious. Similarly, someone who hears traumatic news will often swoon or faint. This is the mind's way of protecting itself from pain by stepping through the first door.
                </p>
                <hr>
                <a href="#some other entry"><h3>Second Example Entry</h3></a>
                <hr>
                <h5>More date entry stuff</h5>
                <p>
                Second is the door of forgetting. Some wounds are too deep to heal, or too deep to heal quickly. In addition, many memories are simply painful, and there is no healing to be done. The saying 'time heals all wounds' is false. Time heals most wounds. The rest are hidden behind this door.

                Third is the door of madness. There are times when the mind is dealt such a blow it hides itself in insanity. While this may not seem beneficial, it is. There are times when reality is nothing but pain, and to escape that pain the mind must leave reality behind.

                Last is the door of death. The final resort. Nothing can hurt us after we are dead, or so we have been told.
                </p>
                <a href="#some other entry"><h3>Second Example Entry</h3></a>
                <hr>
                <h5>More date entry stuff</h5>
                <p>
                Second is the door of forgetting. Some wounds are too deep to heal, or too deep to heal quickly. In addition, many memories are simply painful, and there is no healing to be done. The saying 'time heals all wounds' is false. Time heals most wounds. The rest are hidden behind this door.

                Third is the door of madness. There are times when the mind is dealt such a blow it hides itself in insanity. While this may not seem beneficial, it is. There are times when reality is nothing but pain, and to escape that pain the mind must leave reality behind.

                Last is the door of death. The final resort. Nothing can hurt us after we are dead, or so we have been told.
                </p>
                <a href="#some other entry"><h3>Second Example Entry</h3></a>
                <hr>
                <h5>More date entry stuff</h5>
                <p>
                Second is the door of forgetting. Some wounds are too deep to heal, or too deep to heal quickly. In addition, many memories are simply painful, and there is no healing to be done. The saying 'time heals all wounds' is false. Time heals most wounds. The rest are hidden behind this door.

                Third is the door of madness. There are times when the mind is dealt such a blow it hides itself in insanity. While this may not seem beneficial, it is. There are times when reality is nothing but pain, and to escape that pain the mind must leave reality behind.

                Last is the door of death. The final resort. Nothing can hurt us after we are dead, or so we have been told.
                </p>
                <a href="#some other entry"><h3>Second Example Entry</h3></a>
                <hr>
                <h5>More date entry stuff</h5>
                <p>
                Second is the door of forgetting. Some wounds are too deep to heal, or too deep to heal quickly. In addition, many memories are simply painful, and there is no healing to be done. The saying 'time heals all wounds' is false. Time heals most wounds. The rest are hidden behind this door.

                Third is the door of madness. There are times when the mind is dealt such a blow it hides itself in insanity. While this may not seem beneficial, it is. There are times when reality is nothing but pain, and to escape that pain the mind must leave reality behind.

                Last is the door of death. The final resort. Nothing can hurt us after we are dead, or so we have been told.
                </p>
                <a href="#some other entry"><h3>Second Example Entry</h3></a>
                <hr>
                <h5>More date entry stuff</h5>
                <p>
                Second is the door of forgetting. Some wounds are too deep to heal, or too deep to heal quickly. In addition, many memories are simply painful, and there is no healing to be done. The saying 'time heals all wounds' is false. Time heals most wounds. The rest are hidden behind this door.

                Third is the door of madness. There are times when the mind is dealt such a blow it hides itself in insanity. While this may not seem beneficial, it is. There are times when reality is nothing but pain, and to escape that pain the mind must leave reality behind.

                Last is the door of death. The final resort. Nothing can hurt us after we are dead, or so we have been told.
                </p>
              </div>
            <div class="button"><a href="/journal/new-entry">New entry</a></div>
            <ol class="pagination">
              <li><a href="#first page" class="active">1</li></a>
              <li><a href="#next page">2</li></a>
              <li>..</li>
              <li><a href="#last page">3</li></a>
            </ol>
          </div>
        </div>
      </div>
    </section>
{% endblock %}