{% extends "layout.jinja2" %}
{% block body %}
    <!-- MAIN CONTENT -->
    <section class="main">
      <div id="background">
        <div class="wrap">
          <div class="body">
            <div class="large-6 columns grade1"></div>
              <div class="large-6 columns"><h2>New Entry</h2></div>
              <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
                <div class="titlearea"><textarea placeholder="Title..." name="title" value="{{ title }}"></textarea></div>
                <hr>
                <div class="bodyarea"><textarea placeholder="Body..." name="body" value="{{ body }}"></textarea></div>
                <input type="submit" value="Confirm">
              </form>
            <div class="button Cancle"><a href="{{request.route_url('home')}}">Cancle</a></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}