{% extends "layout.jinja2" %}
{% block body %}
    <!-- MAIN CONTENT -->
    <section class="main">
      <div id="background">
        <div class="wrap">
          <div class="body">
            <div class="large-6 columns grade1"></div>
              <div class="large-6 columns"><h2>New Entry</h2></div>
              <div class="titlearea"><textarea>Title...</textarea></div>
              <hr>
              <div class="bodyarea"><textarea>Body...</textarea></div>
              <div class="button Confirm"><a href="#">Confirm</a></div>
              <div class="button Cancle"><a href="#">Cancle</a></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}