
/* ***************************************************************************
GENERAL
*************************************************************************** */
.wrap {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}




/* ***************************************************************************
NAV
*************************************************************************** */
.top-bar {
    color: #CECECE;
    background-color: #333;
}


.top-bar h4 {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}


.menu li a {
    color: #CECECE;
    background-color: #333;
}


.menu li a:hover {
    background-color: rgba(255,255,255, 0.1);
}

.menu-text a {
    color: white;
}


/* ***************************************************************************
HERO
*************************************************************************** */
.hero {
    color: #CECECE;
    background-color: #333;
    padding: 10px 80px;
}

.columns h2 {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}



/* ***************************************************************************
MAIN SECTION
*************************************************************************** */
.main {
    height: 1920px;
}


#background {
    background-image: url(main_back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
}

.body {
    background-color: #333;
    opacity: 0.85;
    background-blend-mode: overlay;
    padding: 25px 25px;
}

.button {
    float: right;
}

.column {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.column h5 {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.pagination {
    color: white;
    display: inline;
}

.pagination li {
    padding: 0 3px;
}

.pagination li a {
    color: white;
}

.pagination li a:hover {
    color: black;
}

.active {
    color: #87FFFF;
}

.entries {
    color: white;
    padding: 0px 25px;
}

.entries a {
    color: white;
}

/* ***************************************************************************
FOOTER
*************************************************************************** */

footer {
    color: #CECECE;
    height: 190px;
    background-color: #333;
    padding: 10px;
    position: relative;
}

footer a {
    display: block;
}


/* ***************************************************************************
MEDIA QUERY
*************************************************************************** */

@media (min-width: 639px) {

    .nav-desktop {
        display: none;
    }
}
